<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<!-- <script src="../../build/frame.min.js"></script> -->
		<script src="../../src/Frame.js"></script>

		<script src="js/libs/raf.min.js"></script>
		<script src="js/libs/three.min.js"></script>

		<script src="js/effects/FadeInEffect.js"></script>
		<script src="js/effects/ShaderEffect.js"></script>
		<script>

			var audio = document.createElement( 'audio' );
			audio.controls = true;
			audio.src = 'files/lug00ber-bastion-amstel.mp3';
			document.body.appendChild( audio );

			document.body.appendChild( document.createElement( 'br' ) );

			var renderer = new THREE.WebGLRenderer();
			renderer.setSize( 800, 600 );
			document.body.appendChild( renderer.domElement );

			var timeline = new FRAME.Timeline();
			timeline.load( 'script.json' );

			var animate = function () {

				requestAnimationFrame( animate );
				timeline.render( audio.currentTime );

			};

			audio.play();
			animate();

		</script>
	</body>
</html>
