body {
	background-color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}

hr {
	border: 0px;
	border-top: 1px solid #ccc;
}

textarea, input { outline: none; } /* osx */

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

button {
	border-radius: 4px;
}

input.Input {
	color: #3AC785;
	font-size: 12px;
	background-color: #444;
	border: 0px;
	padding: 5px 8px;
	border-radius: 4px;
}

input.Number {
	color: #3A85C7;
	font-size: 12px;							/** TODO: Use of !imporant is not ideal **/
	background-color: transparent!important;	/* For now this is a quick fix a rendering issue due to inherited background */
	border: 1px solid transparent;
	cursor: col-resize;
}

select.Select {
	color: #3AC785;
	font-size: 12px;
	background-color: #444;
	border: 0px;
	padding: 5px 8px;
	border-radius: 4px;
}

.CodeMirror {
	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;
}

.CodeMirror-errorLine {
	background: rgba(200, 50, 0, 0.2) !important;
}
